# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
TP_control_systems/LabVIEW/.DS_Store

# Libraries
*.lvlibp
*.llb

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

TP_control_systems/LabVIEW/src/testLibLoader.vi

*.m~

*.jpg

*.asv

*.mp4

*.fig

Imgs/Controller/DataDriven/Data/ControllerDataDrivenBigData.mat

Imgs/Controller/DataDriven/Data/ControllerDataDrivenBigWDisturbanceData.mat

Imgs/Controller/DataDriven/Data/ControllerDataDrivenMediumData.mat

Imgs/Controller/DataDriven/Data/ControllerDataDrivenMediumWDisturbanceData.mat

Imgs/Controller/DataDriven/Data/ControllerDataDrivenSmallData.mat

Imgs/Controller/DataDriven/Data/ControllerDataDrivenSmallWDisturbanceData.mat

Imgs/Controller/Hinf/Data/ControllerHinfBigData.mat

Imgs/Controller/Hinf/Data/ControllerHinfBigWDisturbanceData.mat

Imgs/Controller/Hinf/Data/ControllerHinfMediumData.mat

Imgs/Controller/Hinf/Data/ControllerHinfMediumWDisturbanceData.mat

Imgs/Controller/Hinf/Data/ControllerHinfSmallData.mat

Imgs/Controller/Hinf/Data/ControllerHinfSmallWDisturbanceData.mat

MATLAB/\@datadriven/constraints.m

MATLAB/\@datadriven/datadriven.m

MATLAB/\@datadriven/emptyStruct.m

MATLAB/\@datadriven/formatController.m

MATLAB/\@datadriven/getController.m

MATLAB/\@datadriven/lpv.m

MATLAB/\@datadriven/lpvFF.m

MATLAB/\@datadriven/objectives.m

MATLAB/\@datadriven/parameters.m

MATLAB/\@datadriven/private/formatInputs.m

MATLAB/\@datadriven/private/getNormalDirection.m

MATLAB/\@datadriven/private/resp.m

MATLAB/\@datadriven/private/respOrZero.m

MATLAB/\@datadriven/private/solveddlpv.m

MATLAB/\@datadriven/private/solveddlpvFF.m

MATLAB/\@datadriven/siso.m

MATLAB/\@datadriven/sisoFF.m

MATLAB/\@datadriven/system.m

MATLAB/Examples/ExampleLPV.m

MATLAB/Examples/robust_unstableplant_slx2020b.slx

MATLAB/Examples/SimultaneousUnstable.m
